@import url("https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap");
body{
    font-size: 20px;
}
h1{
    font-size: 2em;
    font-family: 나눔고딕, 바탕;
}
h2{
    font-size: 40px;
    font-weight: bold;
}
p{
    font-size: 2em;
    font-family: 'Nanum Pen Script', cursive;
}
.rgbRed{
    color: rgb(255, 0, 0);
}
.rgbaGreen{
    color: rgba(0, 255, 0, .4);
}