body{
    background-image: url(images/bg.jpg);
    background-size: cover;
    text-align: center;
}
h1{
    size: 160px;
    font: Verdana, Geneva, Tahoma, sans-serif;
}
.color1{
    color: white;
}
.color2{
    color: rgba(255, 255, 255, 0.5);
}